.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,  .overlay {
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background-color: rgba(49, 49, 49, 0.8);
}

.modal-content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00C5FF;
    box-shadow: 0 0 20px #B90000;
    border-radius: 10px;
    max-width: 600px;
    max-height: 300px;
    overflow: hidden;
    padding: 20px;
}