.search-container {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.search-container input {
    padding: 10px;
}

@media (min-width: 280px) and (max-width: 767px) {
    .search-container {
        flex-direction: column;
        gap: 10px 0;
    }
}